<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevindrakonian.eticallv01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-TIC-ALL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginInicioRegistro.ActivityRegistro"
            android:label="E-TIC-ALL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginInicioRegistro.ActivityRegistroDo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginInicioRegistro.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chats.ActivityChatEstudianteDocente">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".filtro.ActivityFiltro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginInicioRegistro.ActivityInicio"
            android:label="Inicio" />
        <activity android:name=".CrearCaso.ActivitySelecionarDocente" />
        <activity android:name=".CrearCaso.ActivityCrearCaso" />
        <activity
            android:name=".Aprende.ActivityAprende"
            android:label="Aprende" />
        <activity
            android:name=".Aprende.ActivityBullyng"
            android:label="CyberBullyng" />
        <activity
            android:name=".Aprende.ActivityCrime"
            android:label="CyberCrime" />
        <activity
            android:name=".Aprende.ActivitySexting"
            android:label="Sexting" />
        <activity
            android:name=".Aprende.ActivityTips"
            android:label="Tips" />
        <activity
            android:name=".ActivityPerfilEditDocente"
            android:label="Editar" />
        <activity
            android:name=".ActivityPerfilDocente"
            android:label="Perfil" />
        <activity
            android:name=".ActivityPerfilEditEstudiante"
            android:label="Editar" />
        <activity
            android:name=".ActivityPerfilEstudiante"
            android:label="Perfil" />
        <activity
            android:name=".Aprende.ActivityAcercaDe"
            android:label="Acerca De" />
        <activity
            android:name=".ActivitySleccionDocente"
            android:label="Directivo" />
        <activity
            android:name=".ActivitySeleciconEstudiante"
            android:label="Estudiante" />
        <activity
            android:name=".Aprende.ActivityGrooming"
            android:label="CyberGrooming" />
        <activity
            android:name=".LoginInicioRegistro.ActivityInicioDocente"
            android:label="Inicio" />
        <activity
            android:name=".Aprende.ActivityAprendeDocente"
            android:label="Aprende" />
        <activity android:name=".Correo.CorreoActivity" />
        <activity android:name=".Aprende.ActivityCreditos" />
    </application>

</manifest>